.description {
  max-width: 984px;
  margin: 0 auto 92px;
}

@media (max-width: 983px) {
  .description {
    margin-bottom: 88px;
  }
}

@media (max-width: 768px) {
  .description {
    margin-bottom: 64px;
  }
}