.lead {
  max-width: 984px;
  margin: 0 auto 92px;
}

@media (max-width: 983px) and (min-width: 768px) {
  .lead {
    margin-bottom: 88px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .lead {
    margin-bottom: 64px;
  }
}