.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 28px;
  margin: 0 auto 56px;
}

@media (max-width: 767px) {
  .header {
    padding-top: 16px;
  }
}