.place__text {
  font-weight: 400;
  font-size: 18px;
	line-height: 29px;
}

@media (max-width: 1023px) {
  .place__text {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .place__text {
    padding: 0 16px;
  }
}