.lead__subtitle {
  max-width: 583px;
  margin: 0 auto 64px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media (max-width: 1279px) {
  .lead__subtitle {
    margin-top: 32px;
    margin-bottom: 56px;
  }
}

@media (max-width: 767px) {
  .lead__subtitle {
    margin-top: 16px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}