.footer__item {
  margin-left: 18px;
}

.footer__item:first-child {
  margin-left: 0;
}

@media (max-width: 767px) {
  .footer__item {
    margin-bottom: 32px;
    margin-left: 0;
  }

  .footer__item:last-child {
    margin-bottom: 48px;
  }
}