.place__website {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
}

@media (max-width: 767px) {
	.place__website {
		align-self: flex-start;
		margin-bottom: 32px;
		padding-left: 16px;
	}
}