.place__website {
  align-self: flex-end;
}

@media (max-width: 767px) {
  .place__website {
		display: flex;
		align-self: flex-start;
		flex-direction: column;
		margin-bottom: 32px;
		padding-left: 16px;
  }
}